
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {/*  
    background:url(love.jpg) no-repeat;
    background-size:cover; 
    background-attachment:fixed; */
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background: linear-gradient(to bottom right,#40ff63,#ff000a);
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:center;
    justify-content:center;
    padding:30px 50px 50px;
    height:470px ;
    width: 400px;
    background-color: rgba(255, 220, 220, 0.5);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden; 
}
/*  
.container::before{
    position: absolute ;
    width:170%;
    height:170%;
    content: '';
    background-image:conic-gradient(transparent red, yellow);
    animation: rotate_border 6s linear infinite;
}

.container::after{
    position: absolute ;
    width:170%;
    height:170%;
    content: '';
    background-image:conic-gradient(transparent red, yellow);
    animation: rotate_border 6s linear infinite;
    animation-delay:-3s;
}

@keyframes rotate_border {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
 */
.form .container{
    display:flex;
    position :relative;
    width:100%;
}


.form .header h2{
    font-size:2rem;
    position :relative;
    margin-bottom:60px;
}

.content input{
    border:none;
  outline:none;
  border-radius:10px;
  font-size:1rem;
}

.content.success input{
    border: 2px solid rgb(26, 228, 26);
}

.content.error input{
    border: 2px solid #ff000a;
}

.content input[type="text"]
{
  padding:15px 20px;
  width:100%;
  box-shadow:5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px rgba(0,0,0,0.1); 
  margin-bottom:20px;
  padding-left:20px;
  background :#fff;
}

.content ::placeholder {
    font-size:18px;
    opacity:0.5;
    font-weight:400;
}

.form .container .btn{
    width:100%;
  box-shadow:5px 5px 0px rgba(0,0,0);
  margin-top:20px;
  background : red;
  padding:15px 10px;
  border-radius:10px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  cursor:pointer;
}

.form .container .btn:hover{
    color:linear-gradient(to bottom right, #fff, #ff000a);
}

.hidden-content{
    background-color:  rgba(255, 0, 0, 0.95);
    /* height: 150px;
    width: 250px; */
    border-radius: 1rem;
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 1.5rem 0;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.hidden-content p{
    font-size: 1.2rem;
    font-weight: 600;
    margin:0 0 2rem;
}

.hidden-content .btn-close{
    background-color:  rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    border: 3px solid rgba(255, 255, 255, 0.1);
    padding: 0.3rem 4rem;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow:5px 5px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

